.iconMenu {
  display: flex;
  padding: 1.5rem 0;
  gap: 0.75rem;
}

.iconMenu ul {
  max-width: 1440px;
  margin: 0 auto;
}

.menuItem {
  width: 9.375rem;
  height: 6.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  background: #fff;
  transition: all 0.25s ease;
}

.menuItem:hover .menuItem:active {
  color: var(--Primary-strong);
}

.icon {
  color: var(--Neutral-30);
  transition: color 0.25s ease;
}

.menuItem:hover .icon,
.menuItem:active .icon {
  color: var(--Primary-strong);
}

.menuItem.active .icon {
  color: var(--Primary-strong);
}

.link span {
  transition: color 0.25s ease;
}

.menuItem:hover .link span {
  color: var(--Primary-strong) !important;
}
