/* src/components/common/TabBar/styles.module.css */

.tabBar {
  display: flex;
  justify-content: center;
  
}

.tabItem {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.12rem;
  box-sizing: border-box;
}

.active {
  border-bottom: 2px solid var(--Primary-strong);
}
