/* src/components/common/TabBar/styles.module.css */

.tab {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.active {
  border-bottom: 2px solid var(--Primary-strong);
}
