.deadlineSection {
  background: #000;
  padding: 6.25rem 0;
}

.inner {
  max-width: 77.5rem;
  margin: 0 auto;
}

.empty {
  height: 26.1875rem;
  border-radius: 0.75rem;
  background: var(--Opacity_w_10);
}
