/* 공통 CSS */
.recommend {
  width: 1440px;
  margin: 80px auto;
  padding: 0 20px;
}

/* 헤더 (제목 + 탭) */
.sectionHead {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 20px;
}

/* 관심행사 sectionHead */
.titles {
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-size: 18px;
  color: #5a23ff;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -4%;
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #000;
  line-height: 130%;
  font-style: medium;
}

.titleSpan {
  font-weight: 700;
  font-style: bold;
}

/* 관심 + 신청마감 sectionHead */
.subEng {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -4%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.interestTitle {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  line-height: 130%;
  letter-spacing: -4%;
}

.interestSpan {
  font-weight: 500;
}


/* 카드 공통 CSS */
.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* 더보기 버튼 */
.moreBox {
  text-align: center;
}

.moreBtn {
  font-size: 16px;
  color: #8a8a8a;
  background: none;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  padding-bottom: 2px;
  line-height: 140%;
  letter-spacing: -4%;
}