/* src/components/events/EventHeader/style.module.css */

.eventHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.eventHeader h2 {
  color: var(--Common-black);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.075rem;
}

.eventHeader span {
  color: var(--Neutral-50);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.035rem;
}

.eventHeader span b {
  color: var(--Primary-strong);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.035rem;
}
