.recommendNow {
  background: #fff;
  padding: 5rem;
  width: 77.5rem;
  margin: 0 auto;
}

.bottomRow {
  width: 100%;
}

.arrowBtn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #737373;
  background: #fff;
  cursor: pointer;
}

.lightBtn {
  background: #fff;
}

.darkBtn {
  background: #000;
  border-color: #000;
}

.darkBtn svg path {
  stroke: #fff;
}

.moreBtn {
  font-size: 16px;
  color: #8a8a8a;
  background: none;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  padding-bottom: 2px;
  line-height: 1.4;
  cursor: pointer;
}

.carouselWrapper {
  overflow-x: clip;
  overflow-y: visible;
  padding: 1rem 0;
  margin: -1rem 0;
}

.carouselContainer {
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  flex-shrink: 0;
}
