/* src/app/conference/styles.module.css */

.conferencePageLayout {
  display: flex;
  max-width: 77.5rem;
  margin: 0 auto;

  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.eventCardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.75rem 0.75rem;
}
