/* src/components/myPage/bookmarks/ProfileCard/styles.module.css */

.profileCard {
  position: sticky;
  top: 6rem;
  display: flex;
  width: 18.5625rem;
  height: fit-content;
  padding: 1.5rem 1.25rem;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.profileCardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileCardHeader {
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--Line-neutral);
}

.profileCardHeaderLeft {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profileCardHeaderRight {
  display: flex;
  flex-direction: column;
}

.profileCardBody {
  display: flex;
  flex-direction: column;
}

.profileCardBodyItem {
  display: flex;
  padding: 0.4375rem 0;
  justify-content: space-between;
  align-items: center;
}

.profileCardBodyItemContent {
  display: flex;
  align-items: center;
}
